.current-hero-label {
    display: block;
    position: relative;
    margin: 0;
}

.hero_slider-container {
    display: flex;
    position: relative;
}

.hero-poster-container {
    position: absolute;
    top: 275px;
    right: 668px;
    left: 16px;
    bottom: 0px;
    z-index: 5;
}


.hero-poster {
    max-width: 100%;
    min-height: 244px;

    object-fit: fill;
    border-radius: 12px;
}

.overlay-sub-grid {
    position: relative;
    display: flex;

    padding-bottom: 70px;
    width: 849px;
}

.hero-image-container {
    width: 100%;
}

.hero-image {
    width: 100%;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hero_overlay-gradient {
    position: absolute;

    bottom: 0;
    top: 60%;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 1) 65%);
}

.hero_svg-play-icon {
    margin-right: 16px;
    align-self: center;
}

.hero_overlay-figcaption {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 177px;
    bottom: 0px;
    top: auto;
    right: 0px;
    margin: 16px 16px 0px 16px;

    z-index: 5;
}

.hero_overlay-figcaption-content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hero_overlay-title {
    display: flex;
    text-align: left;

    align-items: flex-end;
}

.hero_title {
    display: block;
    font-size: 1.375rem;
    font-weight: 400;
    display: flow-root;

    color: rgb(255, 255, 255, 1);
}

.hero_video-length {
    margin-left: 32px;

    font-size: 1.40rem;
}

.hero_watch-now-label {
    font-size: 1.125rem;
    font-weight: 600;

    color: rgb(255, 255, 255, 0.7);
}

.hero-label-interactions {
    margin-top: 4px;
    display: block;

    text-align: start;
}

.hero-label-interactions>span {
    margin-right: 8px;
}

.hero-label-interactions>span>svg {
    width: 24px;
    height: 16px;

    justify-self: center;
}