.hero-section {
    display: flex;

    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}


@media (max-width: 1400px) and (min-width: 600px) {

    .hero-section{
        max-width: 84vw;
    }

}

@media (max-width: 600px) {

    .hero-section{
        max-width: 90vw;
      
    }

}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}