.hero-section {
    display: grid;
    position: relative;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "hero-area side-hero-area"
        "bottom-border-area bottom-border-area";


    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-delay: 300ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    max-width: 1280px;
    justify-items: stretch;
    flex-wrap: wrap;

    margin: 8px auto 8px auto;
}

.grid-bottom-border {
    border-bottom: 1px solid #2b2b2b;
    margin-top: 12px;
    padding: 0px 12px 12px 12px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:1310px) {
    .hero-section {
        max-width: 1010px;
    }
}

@media (max-width:1080px) {
    .hero-section {
        max-width: 100%;
        display: flex;
    }

    .grid-bottom-border {
        margin-top: 0px;
    }
}