.category-container {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 20px;

    max-width: 300px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    cursor: pointer;
}

.category-container:hover {
    opacity: 0.9;
}

.category-container>img {
    display: block;
    max-width: 300px;
    height: auto;

    object-fit: cover;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.category-header {
    color: white;
    background-color: rgb(26, 26, 26);

    padding: 8px;
    font-weight: 400;
    text-align: left;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.category-header>span {
    display: block;
}

.category-header>span:hover {
    text-decoration: underline;
}

@media (max-width: 1020px) {
    .category-container {
        box-shadow: 1px 8px 7px -5px #000000;
        margin-bottom: 4px;
    }
}