.featured-slider {
    position: relative;
    max-width: 870px;

  
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.featured-slider-bp1080 {
    display: none;

    gap: 10px;
    overflow-x: scroll;
}

.featured-slider-bp1080::-webkit-scrollbar {
    display: none;
}



@keyframes fadeIn {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1080px) {
    .featured-slider {
        display: none;
    }

    .featured-slider-bp1080 {
        display: flex;
        flex-direction: row;
    }

}