.featured-slider {
    width: 850px;


    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-delay: 600ms;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.slick-slide>div {
    margin-right: 5px;
}

@keyframes fadeIn {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 1400px) and (min-width: 800px) {
    .featured-slider {
        max-width: 88vw;
    }
}

@media (max-width: 800px) {
     .featured-slider {
        width: 88vw;
    }
}