.movie-gallery-container {
    position: relative;
    
    display: flex;
    flex-direction: column;
    /* background-color: rgb(12, 12, 12); */
    margin-bottom: 40px;

    max-width: auto;
}

.movies-slick{
    width: 100%;
}

.movie-gallery-container a {
    text-decoration: none;
}

.header-subtext {
    display: block;

    font-size: 1.1rem;
    color: gray;
    font-weight: 500;


    text-align: left;
    padding-top: 4px;
}


@media (max-width:1080px) {

    .movie-gallery-container{
        margin-right: 0;
    }

    .movie-gallery-container::before{
        position:absolute;
        content: '';
        top: -15px;
        bottom: -15px;
        left: -50px;
        right: -50px;

        background-color: #121212;
    }

     .header-subtext{
        color: rgb(255, 255, 255, 0.67);
        z-index: 1;
    }
    
}