.people-gallery-container {
    margin-top: 50px;

    display: flex;
    flex-direction: column;

    max-width: auto;
    padding: 0px 24px;
}

.actor-slider-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.container-header {
    padding: 0px 24px;
    margin-bottom: 16px;
}

.container-header>h3 {
    position: relative;
    display: flex;

    font-size: 1.4rem;
    text-align: left;
    font-weight: 700;

    color: white;

    padding-left: 12px;
    margin: 0;

    align-items: center;

    cursor: pointer;
}

.container-header>h3::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: auto;

    margin-left: -12px;

    width: 4px;
    z-index: 1;
    background-color: rgb(245, 197, 24);

    border-radius: 10px;
}

.container-header>h3>svg {
    width: 17px;
    margin-left: 10px;
}

.people-gallery-heading {
    font-size: 0.8rem;
    color: rgb(245, 197, 24);
    letter-spacing: 1px;
    font-weight: 500;

    margin-bottom: 10px;
}

@media (max-width:1080px) {}