.prev-arrow-cstm-slick {
    position: absolute;
    left: 0;
    top: 30%;

    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid rgba(255, 255, 255, 0.459);
    border-radius: 5px;

    backdrop-filter: blur(5px);
    cursor: pointer;
    z-index: 1;
}

.prev-arrow-cstm-slick>svg,
.next-arrow-cstm-slick>svg {
    color: white;
    padding: 20px 5px;
}

.next-arrow-cstm-slick {
    position: absolute;
    right: 0;
    top: 30%;

    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid rgba(255, 255, 255, 0.459);
    border-radius: 5px;

    backdrop-filter: blur(5px);
    cursor: pointer;
}

.next-arrow-cstm-slick>svg:hover,
.prev-arrow-cstm-slick>svg:hover {
    color: rgb(255, 208, 0);
}

@media (max-width: 1400px){

    .prev-arrow-cstm-slick>svg,
    .next-arrow-cstm-slick>svg {
        padding: 10px 0px;
        transform: scale(0.8);
    }
}

@media (max-width: 800px) {}