.celeb-hero-section-flex {
    display: flex;
    align-items: start;
    justify-content: start;

    margin-top: 25px;
    gap: 20px;
    padding-right: 350px;
}

.personal-info-box {
    display: flex;
    flex-direction: column;

    text-align: left;
    background-color: rgb(16, 16, 16);
    border-radius: 15px;
    padding: 15px;
}

.personal-info-box>img {
    max-width: 280px;
    border-radius: 15px;

}

.personal-info-box>h3 {
    color: white;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.biography-box {
    text-align: left;
    color: white;
}

.biography-box>h2 {
    font-size: 2rem;
}

.biography-header {
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
}

.biography-box>p {
    letter-spacing: normal;
    line-height: 28px;
    display: inline;
}

.biography-box>h3 {
    margin-top: 100px;
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.show-more-text {
    position: relative;

    color: rgb(255, 255, 255);
    font-style: italic;
    cursor: pointer;
    display: inline;
    font-weight: 500;

    z-index: 1;
}

.hide{
    display: none;
}

.show-more-text::before {
    position: absolute;
    content: '';
    left: -100px;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.959), rgb(0, 0, 0));
}

.show-more-text:hover {
    text-decoration: underline;
}

.known-for-movies-flex {
    display: flex;
    gap: 20px;
    max-width: 1000px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 25px 10px;

    margin-bottom: 60px;
}

.known-for-movies-flex::-webkit-scrollbar-thumb {
    background: rgb(56, 56, 56);
    border: 4px solid rgb(16, 16, 16);
    border-radius: 10px;
    background-clip: content-box;
}

.known-for-movies-flex::-webkit-scrollbar-track {
    background: rgb(16, 16, 16);
    border-radius: 10px;
}

.known-for-movies-flex::-webkit-scrollbar {
    height: 15px;
}

@media (max-width: 700px) {
    .celeb-hero-section-flex {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }

    .personal-info-box {
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        width: 80vw;
    }
}