.movie-hero-section {
    position: relative;
    display: flex;
    max-height: 550px;

    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in;

}

.movie-hero-section::before {
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, rgb(16, 16, 16) 45%, rgba(16, 16, 16, 0.281), rgba(16, 16, 16, 0.712));
    height: 550px;

    z-index: 1;
    left: -520px;
    right: 0;


    box-shadow: 1px 1px 25px rgb(36, 36, 36);
}

.backdrop-image {
    object-fit: cover;
    max-width: 1920px;

    overflow: hidden;
}

.movie-details-container {
    position: absolute;
    z-index: 1;
    top: 8%;

    height: 50vh;

    display: flex;

    opacity: 0;
    animation: fadeInSlideIn 450ms ease-in 500ms forwards;
}

.movie-details-container>img {
    border-radius: 25px;
    height: 450px;
}

.movie-details {
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    padding-left: 30px;

    align-items: start;
    justify-content: start;
    text-align: left;

    grid-area: "details";
}

.movie-details-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 20px;
}

.movie-details-header>h2 {
    font-size: 2.3rem;
    color: white;
}

.movie-details-header>span {
    font-size: 2.3rem;
    color: rgb(231, 231, 231);
}

.movie-details>ul {
    font-size: 1rem;
    display: flex;
    gap: 10px;

    list-style: none;
    padding: 0;
}

.movie-details-ranking-div {
    position: relative;
    margin-top: 12px;

    text-align: center;
}


.rank-percent {
    position: relative;
    font-size: 2rem;
    background-color: rgb(56, 56, 56);
    padding: 15px 20px;
    border-radius: 100%;

    text-align: center;

    color: white;
    font-weight: 600;
}

.rank-percent::before {
    position: absolute;
    content: '%';
    font-size: 0.7rem;

    right: 15%;
    top: 25%;
}

.rank-percent::after {
    position: absolute;
    content: '';
    background-color: rgb(56, 56, 56);
    left: -7px;
    right: -7px;
    top: -7px;
    bottom: -7px;

    z-index: -2;
    border-radius: 100%;
}

.rating-circle {
    position: absolute;
    left: -3px;
    right: -3px;
    top: -16px;
    bottom: -15px;
    border-radius: 100%;
    z-index: -1;
}

.movie-details-overview {
    display: flex;
    flex-direction: column;

    text-align: left;
    grid-area: "overview";

    margin-top: 35px;
    color: white;
    font-size: 1rem;
    max-width: 1000px;
}

.movie-details-overview>span {
    color: gray;
    font-style: italic;
    font-size: 1rem;
}

.movie-details-overview>h3 {
    margin-top: 7px;
    font-size: 1.2rem;
}

.no-background-image-filler {
    background-color: black;
    margin-left: 50px;
    margin-bottom: 1080px;
}

.more-movies-from-collection {
    position: relative;

    margin-top: 15px;
    margin-right: 350px;
    display: grid;
    text-align: center;
    align-items: start;
    justify-content: center;

    max-width: 900px;
}

.more-movies-from-collection>h3 {
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;
}

.more-movies-from-collection::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: -350px;
    bottom: -40PX;
    top: 0;
    right: -350px;
}


.more-movies-from-collection>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.movie-details-credits-cast {
    display: flex;
    flex-direction: column;
    color: white;
}

.movie-details-credits-cast>h3 {
    margin-bottom: 5px;
    margin-top: 0px;
}

.movie-details-credits-cast>div {
    display: flex;
    gap: 15px;
}

.cast-info {
    display: flex;
    flex-direction: column;
}

.cast-name {
    cursor: pointer;
}

.cast-name:hover {
    text-decoration: underline;
}

.character {
    font-size: 0.7rem;
    font-style: italic;
    color: gray;
}

/* ANIMACE */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInSlideIn {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 1100px) {

    .movie-details-container {
        height: 40vh;
    }

    .movie-details-overview>h3 {
        margin-top: 7px;
        font-size: 1rem;
    }

    .movie-details-header>h2 {
        font-size: 1.3rem;
    }

    .movie-details-header>span {
        font-size: 1.3rem;

    }

    .movie-details-container>img {
        max-width: 30vw;
        align-self: center;
    }

    .movie-hero-section::before {
        content: '';
        position: absolute;
        display: flex;
        background-image: linear-gradient(90deg, rgb(16, 16, 16) 45%, rgba(16, 16, 16, 0.281), rgba(16, 16, 16, 0.712));

        height: 100%;

        z-index: 1;
        left: -320px;
        right: 0;
    }


    .movie-details-ranking-div {
        position: relative;
        margin-top: 12px;

        text-align: center;
    }


    .rank-percent {
        position: relative;
        font-size: 1.4rem;
        background-color: rgb(56, 56, 56);
        padding: 5px 10px;
        border-radius: 100%;

        text-align: center;

        color: white;
        font-weight: 600;
    }

    .rank-percent::before {
        position: absolute;
        content: '%';
        font-size: 0.5rem;

        right: 8%;
        top: 25%;
    }

    .rank-percent::after {
        position: absolute;
        content: '';
        background-color: rgb(56, 56, 56);
        left: -7px;
        right: -7px;
        top: -7px;
        bottom: -7px;

        z-index: -2;
        border-radius: 100%;
    }

    .rating-circle {
        position: absolute;
        left: -3px;
        right: -3px;
        top: -7px;
        bottom: -5px;
        border-radius: 100%;
        z-index: -1;
    }

}

@media (max-width: 1000px) {
    .movie-details-container {
        flex-direction: column;
        gap: 0px;
        padding-right: 20px;
    }

    .movie-details-header {
        padding: 0;
        margin-top: 15%;
    }

    .movie-hero-section {
        margin-bottom: 500px;
    }
}

@media (max-width: 700px) {

    .movie-details-container>img {
        width: 200px;
        align-self: center;
    }

    .backdrop-image {
        min-height: 300px;
        margin: 0;
    }
}