.searchResult--info_first_suggestion-div {
    display: flex;


    justify-content: space-between;
    align-content: space-between;
}

.clips-container {
    display: flex;

    gap: 25px;
    margin-left: 2rem;
}

.clip-container--video {
    display: flex;
    flex-direction: column;

    text-align: start;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.87);

    border-radius: 12px;

    transition: 200ms;
}

.clip-container--video:hover {
    color: white;
    font-size: 0.92rem;
}

.clip-container--video>img {
    max-width: 200px;

    border-radius: 12px;
}


@media (max-width: 1310px) {
    .clips-container {
        display: none;
    }

}