.header-top-left-menu {
    display: flex;
    gap: 15px;
}

.database-logo-div {
    display: block;
    padding: 0;
    margin-right: 8px;

    max-height: 33px;
}

.database-logo-div >a {
    position: relative;
}

.database-logo-div > a > img{
    border-radius: 3px;
}

.hamburger-menu {
    display: flex;
    background-color: transparent;

    border: none;
    border-radius: 20px;

    padding: 0;
    cursor: pointer;

    transition: background-color 150ms;
}

.hamburger-menu_button{
    display: flex;
    padding: 0px 16px;
    

    align-items: center;
    align-content: center;
}

.hb__menu-text {
    font-weight: 600;
    margin-left: 8px;
    font-size: 14px;
}

.hamburger-menu_button>svg {
    height: auto;
    width: auto;
}

.hamburger-menu:hover {
    background-color: rgba(78, 78, 78, 0.363);
}

.hamburger-menu-expanded {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: #1b1b1b;
    z-index: 100;
    align-items: center;
    justify-content: top;

    display: none;

    margin: 0;
    padding: 0;
}

.hamburger-menu-expanded.display {
    display: flex;
    animation: showMenu;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 340ms;
}

.hamburger-menu-expanded.hide {
    animation: hideMenu;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 200ms;
}


.menu-container {
    width: auto;
    max-height: 100;
    padding-top: 50px;
}

.hbm_top-flex-box {
    display: flex;
    gap: 40vw;
}

.close-menu {
    padding: 13px;
    background-color: rgb(255, 208, 0);
    border-radius: 30px;
    color: black;
    cursor: pointer;
}

.close-menu:hover {
    background-color: rgb(235, 192, 0);
}

.category-grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "cat1 cat2 cat3"
        "cat1 cat4 cat3"
        "cat5 cat4 cat6";

    text-align: left;
    margin-top: 30px;
    gap: 20px;
}

.category-navbar-container {
    display: flex;
    flex-direction: row;
}

.category-navbar-container>svg {
    margin-top: 7px;
    color: rgb(255, 208, 0);
}

.category-list {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.category-list>h2 {
    margin: 0;
    color: white;
}

.category-list>ul {
    list-style-type: none;
    text-wrap: nowrap;
    margin-top: 10px;
    padding: 0;
}

.category-list>ul>li {
    margin-bottom: 1em;
    font-size: 1rem;
    color: rgb(226, 226, 226);
    font-weight: 500;
    cursor: pointer;
}

.category-list>ul>li:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

/* ANIMACE */

@keyframes showMenu {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@keyframes hideMenu {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}

@media (max-width: 1400px) and (min-width: 800px) {


    .hbm_top-flex-box {
        display: flex;
        gap: 80vw;
    }
}

@media (max-width: 800px) {
    .hamburger-menu {
        display: none;
    }

    .hbm_top-flex-box {
        display: flex;
        gap: 55vw;
    }

    .category-list>h2 {
        font-size: 1.2rem;
    }

    .category-navbar-container>svg {
        margin-top: 3px;
    }

    .category-list>ul>li {
        font-size: 1rem;
    }

    .category-grid-container {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .hamburger-menu-expanded {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}