.nav-header {
    display: flex;
    position: relative;

    background-color: rgb(18, 18, 18);
    z-index: 10;

    padding: 0px 4px;

    align-items: center;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 0px;
}

.navbar_imdbpro {
    position: relative;
    display: flex;
    padding: 0px 16px;

    align-items: center;
    justify-content: center;

    min-height: 2.25rem;
    min-width: 3rem;
    max-width: 100%;
}

.navbar_imdbpro>svg {
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar_divider {
    border: 1px solid rgb(255, 255, 255, 0.16);
    height: 32px;
    margin: 0px 8px;
}

.navbar_watchlist {
    display: flex;
    padding: 0px 16px;

    min-height: 32px;
    justify-content: center;
    align-items: center;
}

.navbar_watchlist>svg {
    margin-right: 4px;
}

.navbar_watchlist>span {
    margin: 0px;
}

.navbar_login {
    display: block;
}

.navbar_login>a {
    position: relative;
    display: inline-flex;

    align-items: center;
    justify-content: center;

    min-height: 2.25rem;
    min-width: 3rem;

    margin: 0;
    padding: 0px 16px;
}

.navbar_login>a>span {
    text-wrap: nowrap;
    display: block;
    margin: 0;
}

.navbar_localization {
    display: flex;
    min-height: 32px;

    justify-content: center;
    align-items: center;

    padding-left: 16px;
    padding-right: 4px;
}

.navbar_localization > span{
    margin: 0;
}

.hover_effect {
    cursor: pointer;
    border-radius: 20px;

    transition: background-color 150ms;
}

.hover_effect:hover {
    background-color: rgba(78, 78, 78, 0.363);
}

@media (max-width: 600px) {
    .login-section {
        display: flex;
        align-items: center;
    }

    .login-section {
        display: none;
    }

    .nav-header {
        padding: 0;
    }
}