.nav-header {
    display: flex;
    position: relative;

    background-color: rgb(18, 18, 18);
    z-index: 10;

    padding: 0px 4px;

    align-items: center;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px 0px;
}

.login-section {
    display: flex;
    align-items: center;
}

.login-section>ul {
    display: flex;
    text-wrap: no-wrap;
    list-style: none;

    color: white;
    font-weight: 500;
    font-size: 0.9rem;

    padding: 0;
    margin: 0;

    margin-left: 5px;
    padding-left: 7px;
    border-left: solid 2px rgba(54, 54, 54, 0.815);
}

.login-box,
.use-app-box {
    padding: 5px 13px;
    transition: background-color 150ms;

    margin-left: 8px;
    border-radius: 20px;

    cursor: pointer;
}

.use-app-box {
    color: black;
    background-color: rgb(255, 208, 0);
}

.login-box:hover {
    background-color: rgba(78, 78, 78, 0.363);
}

.use-app-box:hover {
    background-color: rgb(189, 154, 0);
}

@media (max-width: 1400px) and (min-width: 800px) {}

@media (max-width: 600px) {
    .login-section {
        display: flex;
        align-items: center;
    }

    .login-section {
        display: none;
    }
}